.sanjiao-select {
    background-image: url('images/food-sanjiao.png');
}
.food-sanjiaowh {
    width: .900em;
    height: .500em;
    top: .3850em;
}
.food-submenu {
    background-image: url('icons/icon-submenu-act.png');
    width: .900em;
}
.bc-head-cok {
    background-color: #00A1EA;
}